
button.in-content {
	background-color: #18bc9c;
	border-radius:3px;
	padding:5px;
	margin:0;
	border: 1px solid white;
}

button.in-content:hover {
	background-color: #ffffff;
	border: 1px solid #18bc9c;
	color: #18bc9c;
}

button.in-white-content {
	background-color: #ffffff;
	color: #18bc9c;
	border-radius:3px;
	padding:5px;
	margin:0;
	border: 1px solid #18bc9c;
}

button.in-white-content:hover {
	background-color: #18bc9c;
	border: 1px solid #ffffff;
	color: #ffffff;
}

a.in-content {
	color:inherit;
}

a.in-content:hover {
	color:inherit;
	text-decoration: none;
}

.img-responsive-small{
	max-height:200px;
}

.image-teaser {
	font-size: 1.5em;
	max-width: 100%;
}

hr.light,
hr.dark {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 300px;
    border: 0;
    border-top: solid 3px;
    border-radius: 3px;
    text-align: center;
}

hr.light:after,
hr.dark:after {
    content: "\f19d";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 1.5em;
}

hr.light {
    border-color: #fff;
}

hr.light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.dark {
    border-color: #2c3e50;
}

hr.dark:after {
    color: #2c3e50;
    background-color: #fff;
}

.pl {
	/*border: 1px dotted gray;*/
	text-align: center;
	border-radius: 3px;
	background-color: #ffffff;
	color: #18bc9c;
	padding: 1px;
	margin:1px;
	box-shadow: -1px 2px 1px #138F77;
}

.remover{
	color: #2c3e50;
	position:relative;
	top:-3px;
	right:1px;
}

.top-cross{
	background-color: #ffffff;
	color: #2c3e50;
	border:0;
	font-size: 75%;
	padding:0;
	margin:0;
	position: relative;
	top:-3px;
}

.tag-remover {
	margin:0;
	padding:0;
	display: inline;
}
/* Styling of custom page blocks */
.block {
	text-align: center;
	word-wrap: break-word;
	padding-bottom: 50px;
	padding-top: 50px;
}

/* Styling for first block type */
.first {
	background-color: #18bc9c;
	color: #ffffff;
}

/* Styling for second block type */
.second {
	background-color: #ffffff;
	color: #2c3e50;
}

.profile {
	padding-bottom:30px;
}

.fancy-url {
	background-color: inherit;
	color: inherit;
	font-size: 20px;
	border: 2px solid currentColor;
	border-radius: 10px;
	padding:18px 27px;
	line-height: 1.33;
}

.fancy-url.one:hover{
	text-decoration: none;
	background-color: #ffffff;
	color:#18bc9c;
	transition: all .3s ease-in-out;
}

.fancy-url.two:hover{
	text-decoration: none;
	background-color: #2c3e50;
	color:#ffffff;
	transition: all .3s ease-in-out;
}

.image-teaser-block {
	margin: 20px 30px;
	display:inline;
	float:left;
	max-width: 20%;
}

/* Styling of title for custom page block */
.block-title {
	font-size: 300%;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px
}

.dark-blue {
	color: #2c3e50;
}

/* Styling of content for custom page block */
.block-description {
	margin-left: auto;
	margin-right: auto;
	padding-top:50px;
	padding-bottom: 50px;
	text-align: left;
	font-size: 1.5em
}

/* Styling for content of login/logout/signup blocks */
.block-accounts {
	margin-left: auto;
	margin-right: auto;
	padding-top:50px;
	text-align: left;
	margin-bottom: 30px
}

.accounts-link,.accounts-link:visited {
	color: #2c3e50;
	text-decoration: none;
}

.accounts-link:hover {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px dotted #ffffff;	
}

/* Styling of decoration image for custom page block */
.decor-image {
	margin-top:10px;
	text-align: center;
}

.block-img {
	max-height:400px;
	width:auto;
}

.container-fluid {
	padding:0;
	margin:0;
}

/* Styling for block container */
.main {
	padding-top: 50px;
	padding-bottom: 50px;
	margin:0;
}

.account-area {
	border-bottom: 1px solid #18bc9c;
}
/* Styling for the top menu */
.top {
	background-color: #2c3e50;
	height:50px;
}

/* Styling for the footer */
.bottom {
	background-color: #2c3e50;
	color: #ffffff;
	text-align: center;
}

.hide {
	visibility: hidden;
}



/* Background color for entire page */
body, .main {
	/*font-family: "Lato", "Helvetica Neue", Helvetica,Arial,sans-serif;*/
	color: #2c3e50;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Styling for navigation buttons */
.nav-justified > li > a.page-button, .page-button {
	background-color: #2c3e50;
	color: #ffffff;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 800
}

.nav-justified > li > a.page-button:hover, .page-button:hover {
	color: #18bc9c;
	background-color: #2c3e50;
	text-decoration: none;
}

/* Styling for title navigation */
.navigation-big {
	font-size: 2.5em;
}

/* Styling for image slider */
#image-slider-img {
	height:200px;
}

/* Styling for image slider buttons */
.slider-button {
	width:24px;
	height:24px;
	background-color: #2c3e50;
	color: #ffffff;
	border-radius:25px;
	margin:5px;
	text-align: center;
	display: inline-block;
}

.selected-button {
	background-color: #ffffff;
	color: #2c3e50;
	border: 1px solid #2c3e50;
}

.not-selected {
	background-color: #2c3e50;
	color: #ffffff;
	border: 1px solid #ffffff;
}

.pro, .con>ul {
	text-align: left;
	margin-left: 0;
	text-indent: -1px;
	margin:5px;
}

.btn-social {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 100%;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
}
.btn-social:hover {
	background-color: #ffffff;
	border: 2px solid #18bc9c;
}

.btn-social:visited {
	background-color: inherit;
	border: 2px solid #ffffff;
	color: #18bc9c;
}

.fa.fa-fw {
	color: #ffffff;
}

.btn-social:hover>.fa.fa-fw {
	color: #18bc9c;
}

/* Styling for social buttons */
.social-button {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 3px solid #ffffff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}

.social-button:hover{
	color: #18bc9c;
	background-color: #ffffff;
}

.social-button-inverse {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 3px solid #18bc9c;
    border-radius: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    color: #18bc9c;	
}

.social-button-inverse:hover{
	color:#ffffff;
	background-color: #18bc9c;
}

.user-info {
	color: #ffffff;
}

button.account {
	background-color: #2c3e50;
	border:none;
	border-radius: 3px;
}

button.account:hover{
	background-color: #ffffff;
	color: #2c3e50;
	border:none;
}

button.account-top{
	background-color: #18bc9c;
	border:none;
	border-radius:3px;
	margin:3px;
}

button.account-top:hover{
	background-color: #ffffff;
	color: #18bc9c;
	border:none;
}

a.account-top{
	color:#ffffff;
	text-decoration: none;
	border-bottom: 1px dotted #ffffff;
}

a.account-top:hover{
	color:#ffffff;
	text-decoration: none;
	border-bottom: 1px dotted #ffffff;
	border-top: 1px dotted #ffffff;
}

.change-profile {
	margin:20px;
}

.mini-accounts {
	background-color: #2c3e50;
	color: #ffffff;
	margin-top:10px;
	width:200%;
}

.footer-link {
	color: #18bc9c;
}

.footer-link:hover {
	color: #ffffff;
	border-bottom: 1px dotted #ffffff;
	text-decoration: none;
}

/* Remove auto-filled markup for inputs */
input[type="text"], input[type="password"], textarea, select { 
    outline: none;
    color: #181818;
}

:focus { 
	background-color: #ffffff; 
}


.center{
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}

.field {
	font-weight: bold;
}
.value {
	font-weight: bold;
}