/* Styling of custom page blocks */
.block {
	text-align: center;
	word-wrap: break-word;
}

/* Styling for first block type */
.first {
	background-color: #18bc9c;
	color: #ffffff;
}

/* Styling for second block type */
.second {
	background-color: #ffffff;
	color: #2c3e50;
}

/* Styling of title for custom page block */
.block-title {
	font-size: 300%;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

/* Styling of content for custom page block */
.block-description {
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	padding:50px;
	text-align: left;
}

/* Styling for content of login/logout/signup blocks */
.block-accounts {
	margin-left: auto;
	margin-right: auto;
	padding:50px;
	text-align: left;
}

.accounts-link,.accounts-link:visited {
	color: #2c3e50;
	text-decoration: none;
}

.accounts-link:hover {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px dotted #ffffff;	
}

/* Styling of decoration image for custom page block */
.decor-image {
	margin-top:10px;
	text-align: center;
}

.block-img {
	max-height:400px;
	width:auto;
}

/* Styling for block container */
.main {
	padding-top: 75px;
	padding-bottom: 50px;
	margin-top:30px;
}

/* Styling for the top menu */
.top {
	background-color: #2c3e50;
}

/* Styling for the footer */
.bottom {
	background-color: #2c3e50;
	color: #ffffff;
	text-align: center;
}

.hide {
	visibility: hidden;
}

/* Background color for entire page */
body, .main {
	background-color: #2c3e50;
}

/* Styling for navigation buttons */
.nav-justified > li > a.page-button {
	background-color: #2c3e50;
	color: #ffffff;
	border-radius: 5px;
	margin:5px;
}

.nav-justified > li > a.page-button:hover {
	color: #18bc9c;
	background-color: #2c3e50;
}

/* Styling for title navigation */
.navigation-big {
	font-size: 200%;
}

/* Styling for image slider */
#image-slider-img {
	height:200px;
}

/* Styling for image slider buttons */
.slider-button {
	width:24px;
	height:24px;
	background-color: #2c3e50;
	color: #ffffff;
	border-radius:25px;
	margin:5px;
	text-align: center;
	display: inline-block;
}

.selected-button {
	background-color: #ffffff;
	color: #2c3e50;
	border: 1px solid #2c3e50;
}

.not-selected {
	background-color: #2c3e50;
	color: #ffffff;
	border: 1px solid #ffffff;
}

.pro,.con>ul {
	text-align: left;
	margin-left: 0;
	text-indent: -1px;
	margin:5px;
}

/* Styling for social buttons */
.social-button {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 3px solid #ffffff;
    border-radius: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
}

.social-button:hover{
	color: #18bc9c;
	background-color: #ffffff;
}

.social-button-inverse {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 3px solid #18bc9c;
    border-radius: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    color: #18bc9c;	
}

.social-button-inverse:hover{
	color:#ffffff;
	background-color: #18bc9c;
}

.user-info {
	color: #ffffff;
}

button.account {
	background-color: #2c3e50;
	border:none;
	border-radius: 3px;
}

button.account:hover{
	background-color: #ffffff;
	color: #2c3e50;
	border:none;
}

button.account-top{
	background-color: #18bc9c;
	border:none;
	border-radius:3px;
}

button.account-top:hover{
	background-color: #ffffff;
	color: #18bc9c;
	border:none;
}

a.account-top{
	color:#ffffff;
	text-decoration: none;
}

a.account-top:hover{
	color:#ffffff;
	text-decoration: none;
	border-bottom: 1px dotted #ffffff;
}

input {
	color: #2c3e50;
}

.mini-accounts {
	height:30px;
	background-color: #2c3e50;
	color: #ffffff;
}

.footer-link {
	color: #18bc9c;
}

.footer-link:hover {
	color: #ffffff;
	border-bottom: 1px dotted #ffffff;
	text-decoration: none;
}

/* Remove auto-filled markup for inputs */
input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

:focus { 
	background-color: #ffffff; 
}

label{
	font-weight: normal;
}

.center{
	text-align: center;
}