{% extends "main_base.html" %}

{% load url from future %}
{% load i18n %}
{% block body %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}
<div class="row first">
	<div class="col-lg-4"></div>
	<div class="block-accounts col-lg-4">
		<h1>{% trans "Login Cancelled" %}</h1>
		{% url 'account_login' as login_url %}

		<p>{% blocktrans %}Je hebt het aanmelden op deze site met een externe account geannuleerd. Als dat een vergissing was, kun je je <a class="accounts-link" href="{{login_url}}">aanmelden</a>.{% endblocktrans %}</p>
	</div>
	<div class="col-lg-4"></div>
</div>
{% endblock %}
{% endblock body %}
