{% extends "main_base.html" %}

{% load staticfiles %}

{% block body %}

<!-- Loop through block list and insert blocks -->
{% for block in block_list %}
	
	<!-- Different color schemes for different blocks -->
	{% if forloop.counter0|divisibleby:"2" %}
		<div class="block first col-lg-12">
	{% else %}
		<div class="block second col-lg-12">
	{% endif %}		
	
		<!-- Title of block -->
		{% if block.display_title %}
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="block-title col-lg-8"> {{ block.title }} </div> 
			<div class="col-lg-2"></div>
		</div>
		{% if forloop.counter0|divisibleby:"2" %}
		<div class="row"><hr class="light"/></div>
		{% else %}
		<div class="row"><hr class="dark"/></div>
		{% endif %}
		{% endif %}
		<!-- If an image is provided -->
		{% if block.image %}
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="decor-image col-lg-6" ><img class="block-img" src = "{{ block.image }}"></div>
				<div class="col-lg-3"></div>
			</div>
		{% endif %}

		<!-- if there is an image teaser -->
		{% if block.image_teaser %}
			<div class="row">
				{% for image in block.image_teaser.get_teaser_images %}
				<div class="image-teaser-block">
					<img src="{{ image.image_url }}" class="img-responsive-small">
					<div class="image-teaser">{{ image.teaser_text }}</div>
				</div>
				{% endfor %}
			</div>
		{% endif %}

		<!-- If there is text in the block -->
		{% if block.description %}
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="block-description col-lg-8"> {{ block.description |safe }} </div>
				<div class="col-lg-2"></div>
			</div>
		{% endif %}

		<!-- If there are contact buttons -->
		{% if block.contact_buttons %}
			<br>
			{{ block.contact_buttons.insert_buttons }}
		{% endif %}


		<!-- If there is a pro/con list -->
		{% if block.pro_con_list %}
			<div class="row">
				<div class="col-lg-2"></div>
				<!-- Pro-list -->
				<div class="pro col-lg-4">
					<ul>
						<img src="{% static 'img/plus.png' %}">		
						{% for pro in block.pro_con_list.get_pro_list %}
							<li> 
								{{ pro }} 
							</li>
						{% endfor %}
					</ul>
				</div>
				<!-- Con-list -->
				<div class="con col-lg-4">
					<ul>
						<img src="{% static 'img/minus.png' %}">		
						{% for con in block.pro_con_list.get_con_list %}
							<li> 
								{{ con }} 
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-lg-2"></div>
			</div>
		{% endif %}

		<!-- if there are users to be displayed -->
		{% if block.user_display %}
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 center">
				{% for user in block.user_display.get_user_displays %}
				<div class="user-display">					
					{% if user.profile_image %}
						<img class="img-circle" height="90" width="90" src="{{ user.profile_image }}"></img>
					{% else %}
						<img class="img-cirlce" height="90" width="90" src="{% static 'img/default.png' %}"></img>
					{% endif %}
					<h3>{{user.user.first_name}} {{user.user.last_name}}</h3>
					{% if user.about %}
					<p> {{ user.about }}</p>
					{% endif %}
					{% if user.languages %}
						<p class="languages">
						{% for language in user.get_languages %}
							{% if forloop.last %}
							<span>{{ language }}.</span>
							{% else %}
							<span>{{ language }},</span>
							{% endif %}
							</span>
						{% endfor %}
						</p>
					{% endif %}
					{% if user.social_buttons %}
						{{ user.social_buttons.insert_buttons |safe}}
					{% endif %}
				</div>
				{% endfor %}
			</div>
			<div class="col-lg-2"></div>

		{% endif %}

		<!-- If there is an image slider -->
		{% if block.image_slider %}
			<!-- Visible image -->
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					<span id="image-visible-{{ block.image_slider.pk }}" class="0-{{ block.image_slider.pk }}">
						<img id="image-slider-img" src="{{ block.image_slider.get_image_urls.0 }}">
					</span>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<!-- All images, hidden for now -->
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					{% for i in block.image_slider.get_image_urls %}
						{% if not forloop.counter0 %}
							<div id="{{ forloop.counter0 }}-{{ block.image_slider.pk }}" class="slider-button selected-button"> {{ forloop.counter }}  
								<img src="{{ i }}" class="hide"> 
							</div>
						{% else %}
						<div id="{{ forloop.counter0 }}-{{ block.image_slider.pk }}" class="slider-button"> {{ forloop.counter }}  
							<img src="{{ i }}" class="hide"> 
						</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="col-lg-2"></div>
			</div>
		{% endif %}

		<!-- If there are fancy urls -->
		{% if block.fancy_url %}
		{% if forloop.counter0|divisibleby:"2" %}
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<br/>
				{% for fancy_url in block.get_fancy_urls %}
				<a href="{{fancy_url.url_string}}" class="fancy-url one"><i class="fa {{fancy_url.font_awesome_id}}"></i> {{fancy_url.name}}</a>
				{% endfor %}
			</div>
			<div class="col-lg-2"></div>
		</div>
		{% else %}
		<div class = "row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<br/>
				{% for fancy_url in block.get_fancy_urls %}
				<a href="{{fancy_url.url_string}}" class="fancy-url two"><i class="fa {{fancy_url.font_awesome_id}}"></i> {{fancy_url.name}}</a>
				{% endfor %}
				</div>
			<div class="col-lg-2"></div>
		</div>
		{% endif %}
		{% endif %}
	</div>
{% endfor %}

{% endblock body %}