{% extends "base.html" %}

{% load staticfiles %}

{% block body %}

<!-- Loop through block list and insert blocks -->
{% for block in block_list %}
	
	<!-- Different color schemes for different blocks -->
	{% if forloop.counter0|divisibleby:"2" %}
		<div class="block first col-lg-12">
	{% else %}
		<div class="block second col-lg-12">
	{% endif %}		

		<!-- If an image is provided -->
		{% if block.image %}
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="decor-image img-responsive col-lg-6" ><img class="block-img" src = "{{ block.image }}"></div>
				<div class="col-lg-3"></div>
			</div>
		{% endif %}

		<!-- Title of block -->
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="block-title col-lg-6"> {{ block.title }} </div>
			<div class="col-lg-3"></div>
		</div>

		<!-- If there is text in the block -->
		{% if block.description %}
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="block-description col-lg-6"> {{ block.description |safe }} </div>
				<div class="col-lg-3"></div>
			</div>
		{% endif %}

		<!-- If there are contact urls -->
		{% if block.contact_buttons %}
			{% for button in block.contact_buttons %}
				<a href="">click here</a>
			{% endfor %}
		{% endif %}

		<!-- If there is a pro/con list -->
		{% if block.pro_con_list %}
			<div class="row">
				<div class="col-lg-2"></div>
				<!-- Pro-list -->
				<div class="pro col-lg-4">
					<ul>
						<img src="{% static 'img/plus.png' %}">		
						{% for pro in block.pro_con_list.get_pro_list %}
							<li> 
								{{ pro }} 
							</li>
						{% endfor %}
					</ul>
				</div>
				<!-- Con-list -->
				<div class="con col-lg-4">
					<ul>
						<img src="{% static 'img/minus.png' %}">		
						{% for con in block.pro_con_list.get_con_list %}
							<li> 
								{{ con }} 
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-lg-2"></div>
			</div>
		{% endif %}

		<!-- If there is an image slider -->
		{% if block.image_slider %}
			<!-- Visible image -->
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					<span id="image-visible" class="0">
						<img id="image-slider-img" src="{{ block.image_slider.get_image_urls.0 }}">
					</span>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<!-- All images, hidden for now -->
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					{% for i in block.image_slider.get_image_urls %}
						<div id="{{ forloop.counter0 }}" class="slider-button"> {{ forloop.counter }}  
							<img src="{{ i }}" class="hide"> 
						</div>
					{% endfor %}
				</div>
				<div class="col-lg-2"></div>
			</div>
		{% endif %}
	</div>
{% endfor %}

{% endblock body %}