{% extends "main_base.html" %}

{% load staticfiles %}

{% block body %}

	<div class="block first col-lg-12 center profile">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="block-title col-lg-6"> Gebruiker: {{ user.username }}</div>
			<div class="col-lg-3"></div>
		</div>
		<div class="row">
			<div class="col-lg-5"></div>
			<div class="col-lg-1 right">
				Voornaam: <br />
				Achternaam: <br />
				E-mail: <br />
			</div>
			<div class="col-lg-1 left">
				{% if user.first_name %}{{ user.first_name }}{% else %} je hebt geen voornaam opgegeven!{% endif %}<br/>
				{% if user.last_name %}{{ user.last_name }}{% else %} je hebt geen achternaam opgegeven!{% endif %}<br/>
				{% if user.email %}{{ user.email }}{% else %} je hebt geen e-mailadres opgegeven!{% endif %}<br/>
			</div>
			<div class="col-lg-5"></div>
		</div>
	</div>
	
	<div class="block second col-lg-12 center profile">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="block-title col-lg-6"> Aanpassen</div>
			<div class="col-lg-3"></div>
		</div>
		<div class="row">
			<div class="col-lg-5"></div>
			<div class="col-lg-1 right">
				Voornaam: <br />
				Achternaam: <br />
				E-mail: <br />
			</div>
			<div class="col-lg-1">
				<form method="POST" action="../update_info">
				{% csrf_token %}
					<input id="first_name" type="text" name="first_name" label="Voornaam" placeholder="{{user.first_name}}"></input><br />
					<input id="last_name" type="text" name="last_name" label="Achternaam" placeholder="{{user.last_name}}"></input><br />
					<input id="email" type="email" name="email" label="E-mail" placeholder="{{user.email}}"></input><br />
					<button type="submit">Aanpassen</button>
				</form>
			</div>
			<div class="col-lg-5"></div>
		</div>
		<div class="row">
			<div class="col-lg-5"></div>
			<div class="col-lg-4">
			{% for part in message %}
				<div class="alert-changes left">{{ part |safe}}</div>
			{% endfor %}
			</div>
			<div class="col-lg-4"></div>
		</div>
    </div>

{% endblock body %}